<div class="container">
  <h1 class="title">About Me</h1>
  <div class="photo-container">
      <img src="../../assets/profile-photo.jpg" alt="My Photo" class="photo">
    </div>
  <p class="subtitle">Get to know me better</p>

  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non erat in diam efficitur ullamcorper eu at velit. Sed sed posuere elit, sed auctor ex. Nulla fermentum tellus sed neque fringilla, eu fringilla mauris condimentum. Duis euismod pretium est, eu volutpat justo sodales non. Donec egestas erat ac ante volutpat, nec ultrices orci efficitur. Curabitur vitae ullamcorper mi. Nulla facilisi. Sed id lorem ut ipsum posuere tincidunt. Nullam id purus nec erat tristique venenatis vel ac nisi. Proin dapibus, sem id molestie consectetur, ipsum odio ultrices enim, nec bibendum enim mi quis sapien.</p>
  <h2 class="heading">Technologies I Work With</h2>
  <app-technologies></app-technologies>
</div>
